.page__container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  color : var(--text-primary);
  background-color: var(--bg-primary);
  font-family: var(--font-vietnam);
  height: 100%;
  width: 100%;
  padding: 0 10%;
}

.page__main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 5rem;

  h1 {
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    color: var(--text-primary);
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
  h2 {
    color: var(--cr-accent-tertiary);
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h3 {
    color: var(--text-secondary);
    font-weight: 300;
  }

  ul {
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    li {
      margin-bottom: 0.5rem;
    }
  }
}

.main__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--text-primary);
    font-weight: 200;
  }

  h1 {
    margin-bottom: 0.25rem;
  }
  h3 {
    margin-left: 0.2rem;
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 3rem;
    margin-bottom: 1rem;
    background-color: var(--btn-primary);
    color: var(--text-primary);
    border-radius: var(--br-radius-small);
    padding: 0.5rem 1rem;

    transition: all 0.25s ease-in-out;
  
    &:hover {
      background-color: var(--cr-accent);
    }

    svg {
      margin-left: 0.5rem;
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
